[user]
  email = "sei40kr@gmail.com"
  name = "Seong Yong-ju"
[color]
  ui = true
[color "diff"]
  meta = "227"
  frag = "magenta bold"
  commit = "227 bold"
  old = "red bold"
  new = "green bold"
  whitespace = "red reverse"
[color "diff-highlight"]
  oldNormal = "red bold"
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"
[core]
  editor = nvim
  excludesfile = ~/.gitignore-global
[fetch]
  prune = true
[interactive]
  diffFilter = diff-so-fancy
[merge]
  tool = fugitive
[mergetool "fugitive"]
  cmd = "vim -f -c \"Gdiff\" \"$MERGED\""
[pager]
  log = "diff-so-fancy | less --tabs=4 -RFX"
  show = "diff-so-fancy | less --tabs=4 -RFX"
  diff = "diff-so-fancy | less --tabs=4 -RFX"
[push]
  default = current
[github]
  user = "sei40kr"
[ghq]
  root = ~/dev/ws

