[submodule "secrets"]
	path = secrets
	url = git@github.com:sei40kr/secrets.git
[submodule "idea-doom-emacs"]
	path = config/ideavim/idea-doom-emacs
	url = https://github.com/sei40kr/idea-doom-emacs.git
[submodule "polybar-scripts"]
	path = config/polybar/polybar-scripts
	url = https://github.com/sei40kr/polybar-scripts
[submodule "tmux-per-project-session"]
	path = packages/tmux-plugins/tmux-per-project-session
	url = https://github.com/sei40kr/tmux-per-project-session
[submodule "zsh-fzf-cd-dirs"]
	path = config/zsh/zsh-fzf-cd-dirs
	url = https://github.com/sei40kr/zsh-fzf-cd-dirs
[submodule "zsh-fzf-docker"]
	path = config/zsh/zsh-fzf-docker
	url = https://github.com/sei40kr/zsh-fzf-docker
[submodule "zsh-fzf-projects"]
	path = config/zsh/zsh-fzf-projects
	url = https://github.com/sei40kr/zsh-fzf-projects
[submodule "zsh-gh-clone"]
	path = config/zsh/zsh-gh-clone
	url = https://github.com/sei40kr/zsh-gh-clone
[submodule "zsh-lazy-nvm"]
	path = config/zsh/zsh-lazy-nvm
	url = https://github.com/sei40kr/zsh-lazy-nvm
[submodule "zsh-ranger-cd"]
	path = config/zsh/zsh-ranger-cd
	url = https://github.com/sei40kr/zsh-ranger-cd
[submodule "zsh-smart-command-history"]
	path = config/zsh/zsh-smart-command-history
	url = https://github.com/sei40kr/zsh-smart-command-history
