[branch]
  autosetuprebase = always
[color]
  ui = true
[commit]
  verbose = true
[core]
  editor = nvim
  excludesfile = ~/.git/global.gitignore
[diff]
  compactionHeuristic = true
  indentHeuristic = on
[fetch]
  prune = true
[ghq]
  root = ~/dev/ws
[github]
  user = "sei40kr"
[include]
  path = ~/.git/diff-colors.gitconfig
[interactive]
  diffFilter = diff-so-fancy
[merge]
  conflictstyle = diff3
[pager]
  log = "diff-so-fancy | less --tabs=4 -RFX"
  show = "diff-so-fancy | less --tabs=4 -RFX"
  diff = "diff-so-fancy | less --tabs=4 -RFX"
[push]
  default = current
[rebase]
  autostash = true
[rerere]
  enabled = true
[stash]
  showPatch = true
[submodule]
  fetchJobs = 8
[url "ssh://git@github.com/"]
  insteadOf = "https://github.com/"
[user]
  email = "sei40kr@gmail.com"
  name = "Seong Yong-ju"
# vi: et sw=2 cc=80
