[submodule "spacemacs-quickrun"]
  branch = master
	path = spacemacs/spacemacs.d/layers/+tools/quickrun
	url = https://github.com/sei40kr/spacemacs-quickrun.git
[submodule "spacemacs-ghq"]
	path = spacemacs/spacemacs.d/layers/+tools/ghq
	url = https://github.com/sei40kr/spacemacs-ghq.git
	branch = master
[submodule "competitive-programming-snippets"]
	path = spacemacs/spacemacs.d/private/local/competitive-programming-snippets/
	url = https://github.com/sei40kr/competitive-programming-snippets.git
	branch = master
