snippet component
	export type Props = {
	  ${1}
	};

	export class ${2:componentName} extends React.Component<Props> {
		render() {
			return (
				${0:<div />}
			);
		}
	};
snippet sfc
  type ${1:componentName}Props = {
	${2}
  };

  const ${1} = (props: ${1}Props) => (
	${0:<div />}
  );
snippet defaultprops
	static defaultProps = {
	  ${0}
	}
snippet props
	this.props.${0}
snippet state
	this.state.${0}
