@define-color bg #111827;
@define-color bg-alt #1f2937;
@define-color text #f3f4f6;
@define-color primary #1e40af;

window#waybar {
  background: @bg;
  color: @text;
  font: 11pt monospace;
  margin: 1rem;
}

button {
  color: inherit;
}

.modules-left {
  margin: 0 1rem 0 1.5rem;
}

.modules-right {
  margin: 0 1.5rem 0 1rem;
}

#workspaces {
  margin: 0;
}

#workspaces button {
  border-radius: 0;
  font: 14pt "Material Design Icons";
  margin: 0 0.125rem;
  min-width: 48px;
  padding: 0;
}

#workspaces button:first-child {
  margin-left: 0;
}

#workspaces button:last-child {
  margin-right: 0;
}

#workspaces button:hover {
  background: @bg-alt;
}

#workspaces button.focused,
#workspaces button.urgent {
  background: @primary;
}

#custom-pomodoro:not(.null),
#custom-fcitx:not(.close),
#custom-protonvpn:not(.disconnected),
#pulseaudio,
#clock,
#cpu,
#memory,
#network {
  margin: 0 1.5rem 0 0;
}

#custom-protonvpn.connected {
  color: #34d399;
}

#custom-powermenu {
  color: #f87171;
}
