@define-color gray #555;
@define-color pink #fd3f3c;
@define-color white #fff;
@define-color yellow #f9fc0d;

@define-color hover_bg_color rgba(255, 255, 255, .05);
@define-color active_bg_color rgba(255, 255, 255, .1);
@define-color inner_bg_color rgba(255, 255, 255, .05);

@define-color workspace_text_color @gray;
@define-color workspace_focused_text_color @pink;
@define-color workspace_urgent_text_color @yellow;

window#waybar {
  background: rgba(0, 0, 0, 0.9);
  color: @white;
  font-family: sans-serif;
  font-size: 11.5pt;
}

.modules-left {
  background: @inner_bg_color;
  border-radius: 40px;
  margin: 9px 10px 7px 10px;
  padding: 0 12px;
}

#workspaces button {
  border: 0;
  border-radius: 0;
  color: @workspace_text_color;
  font-family: "Material Design Icons";
  font-size: 13pt;
  font-weight: normal;
  padding: 0 3px;
  text-shadow: none;
}
#workspaces button:hover {
  background: @hover_bg_color;
}
#workspaces button.urgent {
  color: @workspace_urgent_text_color;
}
#workspaces button.focused {
  color: @workspace_focused_text_color;
}

#taskbar {
    padding: 2px 1px;
}
#taskbar button {
  border: 0;
  border-radius: 100%;
  margin: 3px 2px 1px;
  padding: 6px;
}
#taskbar button:hover {
  background: @hover_bg_color;
}
#taskbar button:active,
#taskbar button.active {
  background: @active_bg_color;
}

.modules-right {
  background: @inner_bg_color;
  border-radius: 40;
  font-weight: bold;
  margin: 9px 10px 7px;
  padding: 0 12px;
}

#clock {
  margin: 0 4px;
}

#network,
#pulseaudio {
  font-family: "Material Design Icons";
  font-size: 14pt;
  font-weight: normal;
  margin: 0 4px;
}
