[Desktop Entry]
Version=0.300.0
Type=Application
TryExec=emacs
Exec=sh -c "XLIB_SKIP_ARGB_VISUALS=1 emacs %F"
Icon=spacemacs
Terminal=false
Categories=TextEditor;Development;

Name=Spacemacs
Comment=The best editor is neither Emacs nor Vim, it\'s Emacs and Vim!
StartupWMClass=Emacs