/* base background color of selections */
@define-color theme_selected_bg_color #0f6776;
/* text/foreground color of selections */
@define-color theme_selected_fg_color #ffffff;

*:selected { background-color: @theme_selected_bg_color; }
*.view:selected { background-color: @theme_selected_bg_color; }

selection { background-color: @theme_selected_bg_color; }

textview selection { background-color: @theme_selected_bg_color; }

switch:checked { background-color: @theme_selected_bg_color; }

menu menuitem:hover, .menu menuitem:hover {
  background-color: @theme_selected_bg_color;
}
