/* -*- mode: css -*- */

@import "menu_vertical"

window {
  anchor: north east;
  location: north east;
  margin: calc(44px + 8px) 8px 0 0;
  width: 320px;
}

mainbox {
  children: [listview];
}

listview {
  fixed-height: false;
}
